<div>
    <button class="btn-success btn-lg" ng-click="pd.SaveProduct()">Save</button>
  
    <a class="btn-danger btn-lg"  href="#/Products.htm">Cancel</a>

    <div class="col-md-12">
        <label class="col-md-2">Product Name</label>
        <input type="text" ng-model="pd.Product.ProductName" class="col-md-6"/>
    </div>

    <div class="col-md-12">
        <label class="col-md-2">Product Description</label>
        <input type="text" ng-model="pd.Product.ProductDescription" class="col-md-6"/>
    </div>

    <div class="col-md-12">
        <label class="col-md-2">Stock Count</label>
        <input type="text" ng-model="pd.Product.StockCount"  class="col-md-6" />
    </div>
</div>