<div>
    <h2>
        Add product
    </h2>
    <form name="productForm">
        <div>
            <input type="hidden" ng-model="pd.Product.Id"/>

            <div class="row margin-20">
                <label class="col-md-2">Product Name</label>
                <input type="text" name="ProductName" ng-model="pd.Product.ProductName" required class="col-md-6" />
                <span ng-show="productForm.ProductName.$touched && productForm.ProductName.$invalid">The name is required.</span>
            </div>

            <div class="row margin-20">
                <label class="col-md-2">Product Description</label>
                <input type="text" ng-model="pd.Product.Description" class="col-md-6" />
            </div>

            <div class="row margin-20">
                <label class="col-md-2">Stock Count</label>
                <input type="text" name="StockCount" ng-model="pd.Product.StockCount" ng-pattern="pd.integerval" class="col-md-6"/>
                <span ng-show="productForm.StockCount.$invalid">Only integer allowed!</span>

            </div>

        </div>
        <div class="row margin-20 text-center">
            <button class="btn btn-success btn-md" ng-disabled="!productForm.$prestine && productForm.$invalid" ng-click="pd.SaveProduct()">Save</button>

            <button class="btn btn-danger btn-md" ng-click="pd.CancelProduct()">Cancel</button>
        </div>
    </form>
</div>